.content{
  font-family: 'Playfair Display',serif;
  line-height: 2;
  font-size: 18px;
  text-indent: 20px;
}

/* Homepage */
.img-responsive{
    height:50vh;
    width: 100%;
}
.banner{
    height:200px;
    width:95%;
    margin: 0 auto;
    background-color: rgb(4, 175, 4);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;

}
.banner img{
    width: 90%;
    height: 140px;
    margin: 0 auto;
    object-fit: cover;
    border-radius: 15px;
}
/* About */
.about{
    height:100vh;
}

/* Contact */
.contactus{
    font-size: 20px;
}

.contactform{
    margin-left: 0px;
}

/* Privacy policy */
.privacy-policy{
    font-family: 'Playfair Display',sans-serif;
    border:1px solid grey;
    border-radius: 5px;   
    background-color: #f3f3f3;
}
.privacy-policy p{
    font-family: 'Poppins',sans-serif;
}