.content{
  font-family: 'Playfair Display',serif;
  line-height: 2;
  font-size: 18px;
  text-indent: 20px;
}

/* Homepage */
.img-responsive{
    height:50vh;
    width: 100%;
}
.banner{
    height:55vh;
    width:98%;
    margin: 0 auto;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-top: 5px; */

}
.banner img{
    width: inherit;
    height: 100%;
    margin: 0 auto;
    object-fit: cover;
    border-radius: 15px;
}
/* About */
.about{
    height:100vh;
}

/* Contact */
.contactus{
    font-size: 20px;
}

.contactform{
    margin-left: 0px;
}

/* Privacy policy */
.privacy-policy{
    font-family: 'Playfair Display',sans-serif;
    border:1px solid grey;
    border-radius: 5px;   
    background-color: #f3f3f3;
}
.privacy-policy p{
    font-family: 'Poppins',sans-serif;
}


body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #79fd2dbc;
}

.home-container {
    max-width: 1200px;
    margin: auto;
    padding: 20px;
}

.hero-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f9f9f9;
    padding: 50px;
    border-radius: 10px;
    margin-bottom: 30px;
}

.hero-text {
    max-width: 50%;
}

.hero-text h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

.highlight {
    color: #ff6347;
}

.shop-now-btn {
    padding: 10px 20px;
    font-size: 1rem;
    background-color: #ff6347;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.shop-now-btn:hover {
    background-color: #e5533f;
}

.hero-image img {
    max-width: 400px;
    border-radius: 10px;
}

.categories {
    text-align: center;
    margin-bottom: 30px;
}

.category-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 20px;
    margin-top: 20px;
}

.card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 15px;
    text-align: center;
    transition: transform 0.3s;
}

.card:hover {
    transform: scale(1.05);
}

.card img {
    max-width: 100%;
    border-radius: 10px;
    margin-bottom: 10px;
}

.about-us {
    background-color: #fff;
    border-radius: 10px;
    padding: 30px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.features {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    margin-top: 20px;
}

.feature {
    text-align: center;
}

.header{background: rgb(169,180,30);
    background: linear-gradient(0deg, rgba(169,180,30,1) 0%, rgba(244,253,45,0.8599089293920693) 100%);
}